<div ng-controller="WorkersTableCtrl">

<table ng-table="workers" class="table table-hover" ng-show="0 < $data.length">
  <tr ng-repeat="item in $data" ng-click="onSelect(item)">
    <td data-title="'id'" sortable="'id'">{{item.id}}</td>
    <td data-title="'face'">
      <span class="fa-stack" style="border-radius: 1em; font-size:1.2em; background-color:{{item.bgColor | hexcolor}}">
        <i class="fa-stack-2x micon micon-face-20x20" style="color:#{{item.skinColor}}"></i>
        <i class="fa-stack-2x micon micon-eye-2x4" style="color:{{item.eyeColor | hexcolor}}"></i>
        <i class="fa-stack-2x micon micon-hair-{{item.hairSize}}" style="color:{{item.hairColor | hexcolor}}"></i>
      </span>

    </td>
    <td data-title="'名'" sortable="'firstName.kana'" ng-show="vc.showFirstName">
      <person-name item="item.firstName" class="person-name first-name"></person-name><person-name item="item.familyName" class="person-name family-name" ng-show="vc.showFamilyName"></person-name>
    </td>
    <td data-title="'姓'" sortable="'familyName.kana'" ng-show="!vc.showFirstName && vc.showFamilyName">
      <person-name item="item.familyName" class="person-name family-name"></person-name>
    </td>
    <td data-title="'age'" sortable="'age'" class="text-left">{{item.age | number:0}}歳</td>
    <td data-title="'peakStart'" sortable="'skills[0].peakStart'" class="text-left">{{item.skills[0].peakStart | number:1}}歳</td>
    <td data-title="'peakEnd'" sortable="'skills[0].peakEnd'" class="text-left">{{item.skills[0].peakEnd | number:1}}歳</td>

    <td data-title="'skill0'" sortable="'skills[0].currentPower'">
      <span class="power rank-{{item.skills[0].currentPower | rank}}">
        {{item.skills[0].currentPower | rank}}
      </span>
      <span class="skill-detail">
        {{item.skills[0].currentPower * 100 | number:0}}
      /
        {{item.skills[0].power | rank}}
        {{item.skills[0].power * 100 | number:0}}
      </span>
    </td>
    <td data-title="'s1'" sortable="'skills[1].currentPower'">
      <span class="power rank-{{item.skills[1].currentPower | rank}}">
        {{item.skills[1].currentPower | rank}}
      </span>
      <span class="skill-detail">
        {{item.skills[1].currentPower * 100 | number:0}}
      </span>
    </td>
    <td data-title="'s2'" sortable="'skills[2].currentPower'">
      <span class="power rank-{{item.skills[2].currentPower | rank}}">
        {{item.skills[2].currentPower | rank}}
      </span>
      <span class="skill-detail">
        {{item.skills[2].currentPower * 100 | number:0}}
      </span>
    </td>
    <td data-title="'s3'" sortable="'skills[3].currentPower'">
      <span class="power rank-{{item.skills[3].currentPower | rank}}">
        {{item.skills[3].currentPower | rank}}
      </span>
      <span class="skill-detail">
        {{item.skills[3].currentPower * 100 | number:0}}
      </span>
    </td>
    <td data-title="'s4'" sortable="'skills[4].currentPower'">
      <span class="power rank-{{item.skills[4].currentPower | rank}}">
        {{item.skills[4].currentPower | rank}}
      </span>
      <span class="skill-detail">
        {{item.skills[4].currentPower * 100 | number:0}}
      </span>
    </td>

    <td data-title="'salary'" sortable="'salary'" class="text-right">{{item.salary * 5 | number:0}}万円</td>
    <td data-title="'birth'" sortable="'birth'">{{item.birth | date:'yyyy'}}年</td>
  </tr>
</table>


</div>